# Eclipse
.classpath
.project
.settings/
bin/

# Intellij
.idea
*.iml
*.iws

# Mac
.DS_Store

.
# gradle
.gradle
build
tomcat.8080

# vscode
.vscode

node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/dist
