<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="nutri.api.infrastructure.datasource.client.ClientMapper">
    <resultMap id="resultClient" type="nutri.api.domain.model.Client">
        <result property="id" column="id"/>
        <result property="clientNumber" column="client_number"/>
        <result property="name" column="name"/>
        <result property="email" column="email"/>
        <result property="healthCondition" column="health_condition"/>
    </resultMap>

    <select id="getClientById" parameterType="int" resultMap="resultClient">
        SELECT
            id,
            client_number,
            name,
            email,
            health_condition
        FROM
            client.data
        WHERE
            id = #{id}
    </select>

    <select id="getAllClient" resultMap="resultClient">
        SELECT
            id,
            client_number,
            name,
            email,
            health_condition
        FROM
            client.data
    </select>
    
    <insert id="saveClient" parameterType="nutri.api.domain.model.Client">
        INSERT INTO client.data (
            id,
            client_number,
            name,
            email,
            health_condition,
        ) VALUES (
            nextval('client.client_id_seq'),
            #{clientNumber},
            #{name},
            #{email},
            #{health_condition}
        )
    </insert>

    <update id="updateClient">
        UPDATE
            client.data
        SET
            name = #{name},
            email = #{email},
            health_condition = #{healthCondition}
        WHERE
            #{id}
    </update>

    <delete id="deleteClient">
        DELETE FROM
            client.data
        WHERE
            id = #{id}
    </delete>

</mapper>
